# Ignore vim and emacs files
*.swp
*~
html


# Autoconf output
aclocal.m4
autom4te.cache/
config.log
config.status
configure
/Makefile
Makefile.mkmf
.vscode/*

experiments/ZB20-Results/*.pdf
experiments/ZB20-Results/*.png
experiments/ZB20-Results/*.gif
experiments/ZB20-Results/helpers
experiments/ZB20-Results/SGS_generator
experiments/ZB20-Results/presentation
experiments/ZB20-Results/site-visit
experiments/ZB20-Results/zenodo-publication
experiments/ZB20-Results/figures
experiments/ZB20-Results/Cs-ZB
experiments/ZB20-Results/.ipynb*
experiments/ZB20-Results/Paper-Figures
testing-acceleration
experiments/.ipynb*
experiments/ANN-Results/.ipynb*
experiments/ANN-Results/*.pdf
experiments/ANN-Results/*.png
experiments/ANN-Results/*.nc
experiments/ANN-Results/helpers/__pycache__/*
experiments/ANN-Results/.ffmpeg/*
experiments/ANN-Results/*.gif
experiments/ANN-Results/*.mp4
experiments/ANN-Results/helpers_mom6/__pycache__/*
experiments/ANN-Results/animations/*
experiments/ANN-Results/figures/*
*.ipynb_checkpoints*
*.ffmpeg*
*.err*
*.out*
*.mp4*
*.gif*
*.pdf*
*.png*
out.txt
config_src/drivers/ice_solo_driver/atmos_ocean_fluxes_mod.mod
experiments/ANN-Results/greene-notebooks/test.nc
experiments/ANN-Results/greene-notebooks/my_func_stats
experiments/MOM6compiled/*
